<header>
  <h2 class="left">出團資訊<span>/ <%= "#{@departure.name}-#{@tour.name}"%></span></h2>  
  <nav class="left">
    
  </nav>
</header>
<article>  
  <%= form_for(@departure, :url => admin_tour_departure_path(@tour, @departure), html: { id: "patchthisdeparture" } ) do |f| %>
    <div class="form">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="9%">名稱：</td>
          <td width="40%">
            <%= f.text_field :name , class: 'text' %><br>
          </td>
          <td width="2%">&nbsp;</td>
          <td width="9%">篩選：</td>
          <td width="40%">
            <%= f.select :filter_type, options_for_select([['-- 請選擇 --',nil],['所有(不分類)','1'], ['到年底', '2'], ['明年出發','3']], @departure.filter_type), class: 'form-control' %>
            <br>
          </td>
        </tr>
        <tr>
          <td>URL：</td>
          <td colspan="4">
            <%= f.text_field :url , class: 'text' %><br>
          </td>
        </tr>
        <!-- <tr>
          <td valign="top">Tour：</td>
          <td colspan="4"> -->
            <%# f.select :tour_id, options_from_collection_for_select(@tours ,
              "id", "name" ) ,{:prompt => '-- 請選擇 --'}, class: 'form-control' %>
          <!-- </td>
        </tr> -->
      </table>
    </div>
    <!--form-->
    <div class="button"> 
      <%= link_to image_tag("/images/admin/left.png")+"返回", admin_tour_departures_path(@tour), class: "left" %>
      <%= content_tag :button, type: :submit, class: 'right highlight' do %>
        儲存<img src="/images/admin/save.png">
      <% end %>
    </div>
  <% end %>  
</article>

<script type="text/javascript">

</script>