<header>
  <h2 class="left">Departures</h2>
</header>

<article>
  <div class="hgroup">
    <h3 class="left">
      
    </h3>
    <div class="button right">
      <%= link_to new_admin_departure_path, class: 'right highlight toggle_new_category' do %>
        New<img src="/images/admin/add_folder.png">
      <% end %>
    </div>
  </div>

  <div class="list">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      
      <% @departures.each do |departure| %>
      
        <tr>
          <td width="88%">
            name:<%= departure.name %><br>
            區間：<%= get_departure_type(departure) %><br>
            tour:<%= departure.tour.name %><br>
            <%= departure.url %><br>
          </td>
          <td width="12%">
            <div class="tool">
              <%= link_to "", edit_admin_departure_path(departure), class: 'edit'  %>
              <%= link_to "", admin_departure_path(departure), :method => :delete, :data => {:confirm => "確定刪除？"}, class: "delete" %>
            </div>
          </td>
        </tr>
        
      <% end %>

    </table>
  </div>

  <div class= "page">
    <%= paginate @departures ,:window => 2 %>
  </div>
  
</article>

  
  
  


