<header>
  <h2 class="left">Departures/ <span> drag-and-drop to reorder </span></h2>
</header>

<article>
  <div class="hgroup">
    <h3 class="left">
      
    </h3>
    <div class="button right">
      <%= link_to new_admin_tour_departure_path, class: 'right highlight toggle_new_category' do %>
        New<img src="/images/admin/add_folder.png">
      <% end %>
    </div>
  </div>

  <div class="list">
    <table id='dragable_container' width="100%" border="0" cellspacing="0" cellpadding="0">
      
      <% @departures.each do |departure| %>
      
        <tr <%= "id=Departurecontainer_#{departure.id.to_s}" %> class='dragable' >
          <td width="88%">
            name:<%= departure.name %><br>
            區間：<%= get_departure_type(departure) %><br>
            tour:<%= departure.tour.name %><br>
            <%= departure.url %><br>
          </td>
          <td width="12%">
            <div class="tool">
              <%= link_to "", edit_admin_tour_departure_path(departure.tour, departure), class: 'edit'  %>
              <%= link_to "", admin_tour_departure_path(departure.tour,departure), :method => :delete, :data => {:confirm => "確定刪除？"}, class: "delete" %>
            </div>
          </td>
        </tr>
        
      <% end %>

    </table>
    <div class="button"> 
      <%= link_to image_tag("/images/admin/left.png")+"返回", admin_tours_path(), class: "left" %>
    </div>
  </div>
  
</article>
 <script>
  $(function() {
    var prevEvent = null;
      $( "#dragable_container" ).sortable({
        items: ".dragable" ,
        placeholder: "ui-state-highlight",
        update: function( event, ui ) {
            
          if(event.timeStamp == prevEvent){
            return null;
          }
          
          prevEvent = event.timeStamp;  
          var newRankings_array = $('#dragable_container').sortable('toArray');
          var orderSet = [];
          $.each(newRankings_array, function( index, value){
                orderSet.push(value.replace("Departurecontainer_",""));
            });
            var order2Push = JSON.stringify(orderSet);
            
            $.ajaxSetup({
              headers: {
                  'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
            }
          });

          // reorder 
          $.ajax({
            type: "PATCH",
            url: "/admin/departures/"+orderSet[0]+"/reorder",
            data: { departures: {  reorderset: orderSet } },
            success: function(data){

              alertify['success'](data[0][1], 2000);
              
              return false   
            },
            error: function(data){
            
              return false  
            }
          });

        }
      });
      
        
      $( "#dragable_container" ).disableSelection();
    });  
  </script>