<%= form_for(@departure, :url => admin_departures_path(), html: { id: "newthisdeparture" } ) do |f| %>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="7%">名稱：</td>
      <td width="31%">
        <%= f.text_field :name %><br>
      </td>
      <td width="2%">&nbsp;</td>
      <td width="7%">篩選期間：</td>
      <td width="53%">
        <%= f.select :filter_type, options_for_select([['-- 請選擇 --',nil],['所有(不分類)','1'], ['到年底', '2'], ['明年出發','3']], nil), class: 'form-control' %>
        <br>
      </td>
    </tr>
    <tr>
      <td valign="top">URL：</td>
      <td colspan="4">
        <%= f.text_field :url %><br>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.submit '送出' %>
      </td>
    </tr>
  </table>
<% end %>