<style type="text/css">
.list tr.title,.list tr.title:hover{background:#765c3e!important;border:none;color:#FFF;}
</style>
<header>
  <h2 class="left">行程費用</h2>
</header>

<article>
  <div class="button"> <a href="/admin/expenses/new" class="right highlight" style="color:#FFF;width:auto;padding:7px 20px;">新增行程費用<img src="/images/admin/add.png"></a></div>
  <div class="list">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr class="title">
        <td>行程名稱&amp;團費說明</td>
        <td>其他費用</td>
        <td>&nbsp;</td>
      </tr>
      <% @expenses.each do |expense| %>
        <tr id="<%= dom_id(expense) %>" class="list">
            <td width="35%" valign="top">
              <h1><%= expense.name %></h1><br>
              <span><%= expense.fee_1 %></span><br>
              <span><%= expense.fee_2 %></span>
              <br><br>
              <p><%= expense.memo %></p>
            </td>
            <td width="50%">
              <%= raw expense.other.gsub("\r\n", "<br/>") %>
            </td>
            <td valign="top">
              <div class="tool"><a href="/admin/expenses/<%= expense.id %>/edit" class="edit" title="編輯"></a><a class="delete" title="刪除"></a></div>
            </td>
        </tr>
      <% end %>
    </table>
  </div>
</article>

<script>
  $(document).ready(function() {
    $('.delete').click(function() {
      if (confirm("確定刪除本行程？")) {
        $dom = $(this).closest('tr');
        id = $dom.attr('id').replace('expense_', '');
        url = '/admin/expenses/' + id;
        $.ajax({
          url: url,
          type: 'DELETE',
          success: function() {
            $dom.fadeOut();
          }
        })
      }
    })
  })
</script>
