<%= stylesheet_link_tag    '/css/travel.css', media: 'all', 'data-turbolinks-track' => true %>
<article>
  <div class="container">
    <ul id="tab">
      <li><a href="#form">立即報名</a></li>
      <li><a href="#date">當地出發日期與空位</a></li>
    </ul>
    <div id="content" class="row">
    <div class="col-md-10 col-md-offset-1">
      <section id="form">        
          <h3>報名表<span>＊號為必填</span></h3>
          <p>收到您的資料後，我們將儘快與您聯絡，謝謝。</p>
          <%= form_for(@contact, :url => contacts_path(), html: { id: "newthiscontact" } ) do |f| %>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="15%">姓名 <span>*</span></td>
                <td width="85%"><%= f.text_field :name, class: 'text required', required: true %></td>
              </tr>
              <tr class="no-border">
                <td>性別</td>
                <td>
                  <% @genders.each_with_index do | gender, index | %>
                    <% if index == 0 %>
                      <%= f.radio_button :gender, gender[0], checked: true %> 
                    <% else %>
                      <%= f.radio_button :gender, gender[0] %> 
                    <% end %>
                    <label class="checkbox-inline">
                      <%= gender[1] %>
                    </label>&nbsp;&nbsp;&nbsp;&nbsp;
                  <% end %>
                </td>
              </tr>
              <tr>
                <td>連絡電話 <span>*</span></td>
                <td><%= f.text_field :phone, class: 'text required digits', required: true %></td>
              </tr>
              <tr>
                <td>Email <span><span>*</span></span></td>
                <td><%= f.text_field :email, class: 'text required email', required: true %></td>
              </tr>
              <tr>
                <td valign="top">通訊地址</td>
                <td><%= f.text_field :address , class: 'text' %></td>
              </tr>
              <tr class="no-border">
                <td colspan="2"> 欲參加的行程 <span>* 可複選</span><br>
                  <% @tours.each_with_index do | tour, index | %>
                    <% if index <= 1 %>
                      <label class="checkbox-inline">
                      <%= f.check_box :subject, { :multiple => true, :name => "contact[subject][]" }, tour.name, nil %> 
                        <%= tour.name %>
                      </label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <% end %>
                  <% end %>
                  <label class="checkbox-inline">
                    <input id="contact_subject_18" name="contact[subject][]" type="checkbox" value="尚未決定"> 
                    尚未決定
                  </label>
                </td>
              </tr>
              <tr>
                <td>出發日期</td>
                <td><%= f.text_field :departure_date, class: 'text' %></td>
              </tr>
              <tr class="no-border">
                <td valign="top">留言</td>
                <td><%= f.text_area :content %></td>
              </tr>
              <tr class="no-border">
                <td colspan="2" align="center">
                  <%= recaptcha_tags :display => { :theme => "clean" } %>
                </td>
              </tr>
              <tr class="no-border" align="center">
                <td colspan="2">
                  <%= f.submit '送出資料' , class: "btn btn-default" %>
                </td>
              </tr>
            </table>
          <% end %>
      </section>
      <section id="date">
        <div id='contact_looking_for_all' style='display:none;'>ALL</div>
        <div id="accordion" class='contact_looking_for_all'>
          <% @tours.each do |tour| %>
            <h3><%= tour.name %></h3>
            <div><p>所有日期都是根據當地出發地，並非從台灣出發<br>白色欄位內則為當次剩餘座位數量</p>
              <div class='row' id="<%= "departures_of_#{tour.en_name}" %>">
                <p id="<%= "loading_p_#{tour.en_name}" %>" style='text-align:center;'>Loading... this might take a while!</p>
              </div>
            </div>
          <% end %>
        </div><!--accordion-->
      </section>
      </div>
    </div>
  </div>
</article>
<script src="/js_plugins/jq_validation/jquery.validate.min.js"></script> 
<script src="/js_plugins/jq_validation/messages_zh_TW.js"></script> 
<script>$('#newthiscontact').validate();</script>
<script>
  $(document).ready(function(){
   $("#accordion").accordion({
      heightStyle: "content",
      collapsible: true,
      active: false,
      beforeActivate: function(event, ui) {
       // The accordion believes a panel is being opened
      if (ui.newHeader[0]) {
          var currHeader  = ui.newHeader;
          var currContent = currHeader.next('.ui-accordion-content');
       // The accordion believes a panel is being closed
      } else {
          var currHeader  = ui.oldHeader;
          var currContent = currHeader.next('.ui-accordion-content');
      }
       // Since we've changed the default behavior, this detects the actual status
      var isPanelSelected = currHeader.attr('aria-selected') == 'true';

       // Toggle the panel's header
      currHeader.toggleClass('ui-corner-all',isPanelSelected).toggleClass('accordion-header-active ui-state-active ui-corner-top',!isPanelSelected).attr('aria-selected',((!isPanelSelected).toString()));
      // Toggle the panel's icon
      currHeader.children('.ui-icon').toggleClass('ui-icon-triangle-1-e',isPanelSelected).toggleClass('ui-icon-triangle-1-s',!isPanelSelected);
      // Toggle the panel's content
      currContent.toggleClass('accordion-content-active',!isPanelSelected)    
      if (isPanelSelected) { currContent.slideUp(); }  else { currContent.slideDown(); }

      return false; // Cancels the default action
    }
  });
  $(function(){ 
    var _showTab = 0;
    var $defaultLi = $('#tab li').eq(_showTab).addClass('active');
    $($defaultLi.find('a').attr('href')).siblings().hide();
    $('#tab li').click(function() {   
      var $this = $(this),
        _clickTab = $this.find('a').attr('href');   
      $this.addClass('active').siblings('.active').removeClass('active');   
      $(_clickTab).stop(false, true).fadeIn().siblings().hide(); 
      return false;
      }).find('a').focus(function(){
        this.blur();
      });
    });    
  }); 
</script>