  <article>
    <div class="form">
      <%= form_for(@contact, :url => contacts_path(), html: { id: "newthiscontact" } ) do |f| %>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="7%"></td>
            <td width="31%">
              主旨：<br>
               <% @tours.each do | tour | %>
                  <label>
                  <%= f.check_box :subject, { :multiple => true, :name => "contact[subject][]" }, tour.name, nil %> 
                    <%= tour.name %><br>
                  </label>
                <% end %>
            </td>
            <td width="2%">&nbsp;</td>
            <td width="7%"></td>
            <td width="53%">
              姓名：<%= f.text_field :name %><br>
              性別：
              <% @genders.each do | gender | %>
                <%= f.radio_button :gender, gender[0] , :class => 'radio' %> 
                <label>
                  <%= gender[1] %>
                </label>
              <% end %><br>
              電話：<%= f.text_field :phone %><br>
              email：<%= f.text_field :email %><br>
              地址：<%= f.text_area :address %><br>
              出發時間：<%= f.text_area :departure_date %><br>
            </td>
          </tr>
          <tr>
            <td valign="top">內容：</td>
            <td colspan="4">
              內容：<%= f.text_area :content, id: "textarea" %><br>
            </td>
          </tr>
          <tr>
            <td>
              <%= recaptcha_tags :display => { :theme => "clean" } %>
              <%= f.submit '送出' %>
            </td>
          </tr>
        </table>
      <% end %>
    </div>
  </article>