<!DOCTYPE html>
<html lang="zh-tw">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="keywords" content="">
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
<title>大旅行家│Drifters</title>
<!-- Bootstrap -->
<link href="/css/global.less" rel="stylesheet/less" />
<style>
article{background:#A5937B}
article img{display:inline!important;margin:30% 0}
</style>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:/ -->
<!--[if lt IE 9]>
      <script src="https:/oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https:/oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<%= render 'layouts/front_shared_header' %>

<article>
  <div class="container text-center">
    <a href="index.html"><img src="/images/tmp-01.jpg" class="img-responsive"></a>
  </div>
</article>

<%= render 'layouts/front_shared_footer' %>

  <!-- Include all compiled plugins (below), or include individual files as needed --> 
  <script src="/js/bootstrap.min.js"></script> 
  <script src="/js/less.min.js"></script> 
  <script src="/js/SmoothScroll.js"></script> 
  <style>/* 修正 IE BUG */
    nav.navbar .dropdown-menu {
      background: #3e3027;
      background: rgba(62, 48, 39, 0.9);
      padding: 0;
    }
    nav.navbar .dropdown-menu li a {
      color: #f3e9de;
      padding: 15px;
      margin: 0 10px;
      border-top: 1px solid #AD9243;
    }
    @media (max-width: 767px) {
      nav.navbar .dropdown-menu li a {
        margin: 0px;
        border-top: 1px solid #9A6B35;
        padding: 15px 20px 15px 35px!important;
        background: #5A493F;
      }
    }
    nav.navbar .dropdown-menu li a:hover,
    nav.navbar .dropdown-menu li a:focus {
      color: #3e3027;
      background: #D1C0A6;
    }
    nav.navbar .dropdown-menu li:first-child a {
      border: none;
    }
  </style>
  </body>
</html>