<!DOCTYPE html>
<html lang="zh-tw">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="keywords" content="">
<link href='/images/favicon.ico' rel='shortcut icon' />
<link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
<link rel="shortcut icon" href="/images/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="icon" href="/images/favicon.ico" type="image/vnd.microsoft.icon">
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
<title>大旅行家 Drifters - 帶你深入非洲</title>
<meta name="keywords" content="大旅行家,非洲旅行團,非洲旅遊,寶崴旅行社,寶崴,維多利亞瀑布旅遊,東非旅遊,南非旅遊,非洲自由行,非洲半自助,drifters,Drifters Truck,探險旅遊,卡車旅遊,獵遊,國外旅遊,國外旅遊推薦,旅遊行程,納米比亞沙漠旅遊,奧卡萬戈旅遊,克魯格國家公園,非洲草原旅遊,非洲卡車,非洲動物旅遊,烏干達旅遊,莫三比克旅遊,辛巴威旅遊,波札那旅遊,非洲野生動物旅遊,冒險旅遊,動物大遷徙旅遊,非洲露營,非洲背包客,非洲越野車旅遊"/>
<meta name="description" content="大旅行家越野系列深入非洲原始蠻荒地帶，遠離文明，如果你喜歡冒險，喜歡用新生兒的眼光看世界，汲取最獨一無二的經驗，大旅行家越野系列將帶給你超越五星級的收穫與體驗。" />
<meta property="og:site_name" content="大旅行家 Drifters - 帶你深入非洲"/>
<meta property="og:title" content="大旅行家 Drifters - 帶你深入非洲"/>
<meta property="og:description" content="大旅行家越野系列深入非洲原始蠻荒地帶，遠離文明，如果你喜歡冒險，喜歡用新生兒的眼光看世界，汲取最獨一無二的經驗，大旅行家越野系列將帶給你超越五星級的收穫與體驗。"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="http://www.drifters.com.tw"/>
<meta property="og:image" content="http://www.drifters.com.tw/images/thumb.jpg">
<link rel="image_src" href="http://www.drifters.com.tw/images/thumb.jpg">
<!-- Bootstrap -->
<link href="/css/index.css" rel="stylesheet" />
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56172097-1', 'auto');
  ga('send', 'pageview');

</script>
<script>
var dpWidth = $(window).width();

$(window).resize(function(){
  dpWidth = $(window).width();
});

$(document).ready(function() {
  $('.dropdown').mouseenter(function(){
    if( dpWidth > 1024 ){
      $(this).children('.dropdown-menu').stop().slideDown(200);
    }
  }).mouseleave(function(){
    if( dpWidth > 1024 ){
      $(this).children('.dropdown-menu').stop().slideUp(100);
    }
  })
})
</script>
</head>
<body>

<header id="header">
  <div class="clearfix container">
    <h1><%= link_to '大旅行家', root_url %></h1>
    <nav class="navbar" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"> <img src="/images/hdr-ctrl.gif" class="img-responsive"> </button>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="visible-xs"><%= link_to '回首頁', root_url %></li>
          <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">旅程特色</a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to "自己做主", page_pages_path('liberty'), 'data-no-turbolink' => true %></li>
              <li><%= link_to "一網打盡所有奇觀", page_pages_path('wonders'), 'data-no-turbolink' => true %></li>
              <li><%= link_to "體驗式學習", page_pages_path('experience'), 'data-no-turbolink' => true %></li>
              <li><%= link_to "深入非洲核心", page_pages_path('core'), 'data-no-turbolink' => true %></li>
            </ul>
          </li>
          <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">經典行程</a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to "南非克魯格灌叢草原 5 天", page_pages_path('KrugerPark5day'), 'data-no-turbolink' => true %></li>
              <li><%= link_to "南非生態探索之旅 18 天", page_pages_path('SouthAfrica18day'), 'data-no-turbolink' => true %></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">探險行程</a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to "納米比亞秘境野營 12 天", page_pages_path('Namibia12day'), 'data-no-turbolink' => true %></li>
              <li><%= link_to "烏干達越野探索 12 天", page_pages_path('Uganda12day'), 'data-no-turbolink' => true %></li>
              <li><%= link_to "東非越野獵遊 12 天", page_pages_path('EastAfrica12day'), 'data-no-turbolink' => true %></li>
              <li><%= link_to "莫三比克海陸探索 14 天", page_pages_path('Mozambique14day'), 'data-no-turbolink' => true %></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">冒險行程</a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to "波札那獵遊野營 16 天", page_pages_path('Botswana16day'), 'data-no-turbolink' => true %></li>
              <li><%= link_to "辛巴威越野露營獵遊 16 天", page_pages_path('Zimbabwe16day'), 'data-no-turbolink' => true %></li>
              <li><%= link_to "南部非洲巡弋 24 天", page_pages_path('SouthernCruise24day'), 'data-no-turbolink' => true %></li>
              <li><%= link_to "周遊南部非洲 24 天", page_pages_path('SouthernCircle24day'), 'data-no-turbolink' => true %></li>
            </ul>
          </li>
          <li><%= link_to "立刻報名", contacts_path, 'data-no-turbolink' => true %></li>
        </ul>
      </div>
    </nav>
  </div>
  <!--container-->
  <div id="banner">
    <div class="container">
      <ul class="bxslider">
      
        <li style='background: url('/images/idx-02.jpg')' >
          <img src="" class="img-responsive"/>
        </li>
        <li style='background: url('/images/idx-03.jpg')'></li>
        <li style='background: url('/images/idx-04.jpg')'></li>
      </ul>
      <div id="hgroup"><img src="/images/idx-01.png" class="img-responsive"/></div>
      <div id="item" class="hidden-xs"><img src="/images/idx-06.png" class="img-responsive"/></div>
    </div>
  </div>
</header>

<article>
  <section id="article-1">
    <div class="container row">
      <div class="col-sm-6" id="intro">
        <h4>大旅行家越野系列並不適合每一個人<br>但並不表示它不適合你</h4><br>
        <p>大旅行家越野系列深入非洲原始蠻荒地帶，遠離文明，你不會從這段旅程中得到五星級的物質享受。<br>但如果你喜歡冒險，喜歡用初生嬰兒的眼光看世界，喜歡汲取最獨一無二的經驗，大旅行家越野系列將給你超越五星級的收穫與體驗。
        </p>
        <%= link_to "立即查詢可出發日期", contacts_path()  %>
      </div>
      <div class="col-sm-6" id="room">
        <div class="embed-responsive embed-responsive-4by3">
          <iframe width="560" height="315" src="http://www.youtube.com/embed/xleH376UiWo" frameBorder="0" scrolling="no" name="video" allowfullscreen class="embed-responsive-item"></iframe>
        </div>
        <div class="row">          
          <a href="http://www.youtube.com/embed/xleH376UiWo" target="video" class="col-xs-3"><img src="/images/idx-08.jpg" class="img-responsive"/></a>
          <a href="http://www.youtube.com/embed/2s2pNfSCcVw" target="video" class="col-xs-3"><img src="/images/idx-07.jpg" class="img-responsive"/></a>
          <a href="http://www.youtube.com/embed/QtouzCuwAHo" target="video" class="col-xs-3"><img src="/images/idx-09.jpg" class="img-responsive"/></a>
          <a href="http://www.youtube.com/embed/4X3hvwgxWVA" target="video" class="col-xs-3"><img src="/images/idx-10.jpg" class="img-responsive"/></a>
        </div>
      </div>
    </div>
  </section>
  <section class="title">
    <div class="container">
      <h2><img src="/images/logo-m.png" class="img-responsive hidden-xs"/>旅程特色</h2>
    </div>
  </section>
  <section id="article-2">
    <div class="item visible-lg" id="item-1"><img src="/images/idx-19.png" class="img-responsive"></div>
    <div class="item visible-lg" id="item-2"><img src="/images/idx-20.png" class="img-responsive"></div>
    <div id="car" class="hidden-xs"><img src="/images/idx-05.gif" class="img-responsive"></div>
    <div id="car-m" class="visible-xs"><img src="/images/idx-05-m.png" class="img-responsive"></div>
    <div class="container">
      <div class="clearfix" id="content-1">
        <div class="pull-left">
          <h4><img src="/images/idx-11.png" class="img-responsive"></h4>
          <p>大旅行家越野系列幾乎天天出團，你可以自行決定最完美的出發時間，它沒有兩人成行的限制，只要一有空檔就可以報名參團，一旦確認訂位就保證出團。</p>
          <%= link_to "詳 細 介 紹 →", page_pages_path('liberty') %>
        </div>
        <div class="pull-right text-center">
          <img src="/images/idx-12.png" class="img-responsive">
        </div>
      </div>
      <div class="clearfix" id="content-2">
        <div class="pull-right">
          <h4><img src="/images/idx-13.png" class="img-responsive"></h4>
          <p>大旅行家越野系列設計遊程時，著重來自世界各地的團員之間，以及團員和司機導遊間的互動與合作，在旅遊的同時，也提升了我們對身處的世界的了解和知識。</p>
          <%= link_to "詳 細 介 紹 →", page_pages_path('experience') %>
        </div>
        <div class="pull-left text-center">
          <img src="/images/idx-14.png" class="img-responsive">
        </div>
      </div>
      <div class="clearfix" id="content-3">
        <div class="pull-left">
          <h4><img src="/images/idx-15.png" class="img-responsive"></h4>
          <p>大旅行家越野系列的野營車具備獨特的結構和設備，適合行駛於沙地和泥沼，而且爬山涉水，無所不能，可以到達一般旅行團到不了的非洲核心和不為人知的祕境。</p>
          <%= link_to "詳 細 介 紹 →", page_pages_path('core') %>
        </div>
        <div class="pull-right text-center">
          <img src="/images/idx-16.png" class="img-responsive">
        </div>
      </div>
      <div class="clearfix" id="content-4">
        <div class="pull-right">
          <h4><img src="/images/idx-17.png" class="img-responsive"></h4>
          <p>非洲除了魔幻寫實的風、沙、星辰外，更有數不盡的世界級奇觀，從納米比亞沙漠到塞倫蓋提國家公園，從奧克班哥三角洲到維多利亞瀑布，大旅行家越野系列不會讓你錯過任何一處奇觀。</p>
          <%= link_to "詳 細 介 紹 →", page_pages_path('wonders') %>
        </div>
        <div class="pull-left text-center">
          <img src="/images/idx-18.png" class="img-responsive">
        </div>
      </div>
    </div>
  </section>
  <section class="title">
    <div class="container">
      <h2><img src="/images/logo-m.png" class="img-responsive hidden-xs"/>行程系列</h2>
    </div>
  </section>
  <section id="article-3">
    <div class="container row">
      <div class="col-md-6 text-center">
        <h4>大旅行家經典行程</h4>
        <h5>Classic</h5>
        <p>顛覆傳統的制式旅遊，嘗試挑戰自己的冒險心</p>
      </div>
      <div class="col-md-6 text-center">
      <div class="level hidden-xs"><img src="/images/idx-27.png" class="img-responsive"></div>
        <div class="clearfix">
          <%= link_to "南非克魯格灌叢草原 5 天", page_pages_path('KrugerPark5day') %>
          <%= link_to "南非生態探索之旅 18 天", page_pages_path('SouthAfrica18day') %>
        </div>
      </div>
    </div>
  </section>
  <section class="essay hidden-xs">
    <div class="container text-center">
      <p>3,000 公里完美的海岸線，從灼熱的沙漠一直到白雪靄靄的山峰</p>
    </div>
  </section>
  <section id="article-4">
    <div class="container row">
      <div class="col-md-6 text-center">
        <h4>大旅行家探險行程</h4>
        <h5>Discovery</h5>
        <p>深入非洲原始地帶，開拓自己對世界的認識</p>
      </div>
      <div class="col-md-6 text-center">
      <div class="level hidden-xs"><img src="/images/idx-28.png" class="img-responsive"></div>
        <div class="clearfix">
          <%= link_to "納米比亞秘境野營 12 天", page_pages_path('Namibia12day') %>
          <%= link_to "烏干達越野探索 12 天", page_pages_path('Uganda12day') %>
          <%= link_to "東非越野獵遊 12 天", page_pages_path('EastAfrica12day') %>
          <%= link_to "莫三比克海路探索 14 天", page_pages_path('Mozambique14day') %>
        </div>
      </div>
    </div>
  </section>
  <section class="essay hidden-xs">
    <div class="container text-center">
      <p>那些傾瀉而下的急流像無數曳著白光的彗星朝一個方向墜落，其景色之美妙，即使天使飛過，也會回首顧盼！</p>
    </div>
  </section>
  <section id="article-5">
    <div class="container row">
      <div class="col-md-6 text-center">
        <h4>大旅行家冒險行程</h4>
        <h5>Adventure</h5>
        <p>勇於面對未知，挑戰自己的極限，面對自然蠻荒之地</p>
      </div>
      <div class="col-md-6 text-center">
      <div class="level hidden-xs"><img src="/images/idx-29.png" class="img-responsive"></div>
        <div class="clearfix">
          <%= link_to "波札那獵遊野營 16 天", page_pages_path('Botswana16day') %>
          <%= link_to "辛巴威越野露營獵遊 16 天", page_pages_path('Zimbabwe16day') %>
          <%= link_to "南部非洲巡弋 24 天", page_pages_path('SouthernCruise24day') %>
          <%= link_to "周遊南部非洲 24 天", page_pages_path('SouthernCircle24day') %>
        </div>
      </div>
    </div>
  </section>
</article>

<%= render 'layouts/front_shared_footer' %>

<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="/js/bootstrap.min.js"></script> 
<script src="/js/mousewheel.js"></script>
<script src="/js/jquery.parallax-1.1.3.js"></script> 
<script src="/js/anchor-art.js"></script> 
<script src="/js/jquery.bxslider.min.js"></script>
<script src="/js/TweenMax.min.js"></script> 
<script src="/js/jquery.superscrollorama.js"></script> 
<script src="/js/index.js"></script> 



</body>
</html>