<!DOCTYPE html>
<html lang="zh-tw">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="keywords" content="">
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
<title>大旅行家│Drifters</title>
<!-- Bootstrap -->
<link href="/css/itinerary.less" rel="stylesheet/less" />
<style>
#banner{background-image:url(/images/sa-01.jpg)}
</style>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:/ -->
<!--[if lt IE 9]>
      <script src="https:/oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https:/oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<%= render 'layouts/front_shared_header' %>

<article>
  <section id="article-1">
    <div class="container text-center">
      <h3>大旅行家經典行程</h3>
      <h4>南非生態探索之旅 18 天</h4>
      <div class="row" id="intro">
        <div class="col-xs-4">
          <img src="/images/itn-01.png" class="img-responsive"><br>每週二和大多數的週五出發
        </div>
        <div class="col-xs-4">
          <img src="/images/itn-02.png" class="img-responsive"><br>約翰尼斯堡>開普敦
        </div>
        <div class="col-xs-4">
          <img src="/images/itn-03.png" class="img-responsive"><br>17 晚旅館
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8 text-left">
          <p>南非擁有壯麗的自然景觀，數不清的野生動物，多元的文化以及第一世界的設備，再加上令人神清氣爽的好天氣，無怪乎冒險家莫不把南非當作不容錯過的天堂樂園。南非面積跟歐洲差不多，擁有 3,000 公里完美的海岸線，從灼熱的沙漠一直到白雪靄靄的山峰的多元氣候分佈，以及從原始的布希人一直到最西化的生活方式的各種民族風情。我們不僅會探訪精彩的景點，也會避開人跡雜沓的地方，探索壯麗的戶外景觀和各式各樣的非洲生態系統。過夜之處多半是大旅行家自營的原始野生動物保護區中的旅館。我們的保護區幅員廣袤，有各式各樣的野生動物介紹計畫，因此創造了極為獨特的住宿特色和環境。參加這個行程的旅客需要具備隨遇而安的心態和冒險的野心。</p>
        </div>
        <div class="col-sm-4 text-center"><img src="/images/sa-02.jpg" class="img-responsive"> </div>
      </div>
    </div>
  </section>  
  <section id="article-2">
    <div class="container row">
      <div class="col-sm-8" id="accordion">
        <h5><span class="day">Day1</span>約翰尼斯堡—叢林旅館（Bush Lodge）</h5>
        <div>
          <p>06:30 從約翰尼斯堡綠火旅館（Greenfire Lodge）出發，一路上經過無數美景，最後到達普馬蘭加省（Mpumalanga）。我們會先在德爾斯特魯姆（Dullstrom）老鎮享用早午餐，然後通過德拉肯斯堡（Drakenesberg）斷崖，進入充滿野性的低地草原（Lowveld）。接下來的兩個晚上我們會投宿在設備完善的綠火叢林旅館。這座帳篷式的旅館，位於野生動物自由倘佯的大克魯格國家公園的私人保護區中，設計高雅，完全跟外在環境融為一體，設備包括舒服的寢具，全套的衛浴設備，一座游泳池，以及絕美的週遭森林景觀。今晚的晚餐是野外營火傳統大餐。<span>D</span></p>
          <img src="/images/sa-03.jpg" class="img-responsive">          
        </div>
        <h5><span class="day">Day2</span>叢林旅館</h5>
        <div>
          <p>叢林中的一天，習慣以早上的一杯咖啡和烤麵包為始，接下來就是尋覓野生動物的健行。儘管我們走路的時間長達 3 個小時，但是我們的目的不在於走得遠，而在尋覓野生動物和獲得更多有關叢林的知識。帶領健行的是大旅行家的導遊兼／或嚮導。在氣溫升高之前，我們趕回旅館享用豐盛的早午餐，然後在旅館中稍事休息，享受週遭靜謐的荒野美景。下午我們坐上敞篷車展開獵遊行程，一直延續到晚上。晚間才有辦法在叢林中看到夜行動物。今天晚上我們會吃到烤肉（braai）大餐，然後再度在野性的大地中進入甜蜜的夢鄉。<span>Brunch D</span></p>    
        </div>
        <h5><span class="day">Day3</span>景觀大道（Panorama Route）—霧觀（Hazyview）</h5>
        <div>
          <p>今天我們與非洲的旭日同昇，享用一頓極其豐盛的早餐後離開叢林旅館，開始探訪沿路美不勝收的景觀。第一站是驚心動魄的布萊德河峽谷（Blyde River Canyon），接下來到布爾克幸運壺穴（Bourke’s Luck Potholes）和上帝之窗（God’s Window）以及溫馨的小鎮葛拉斯科普（Graskop），中午在鎮上的哈瑞鬆餅吧（Harry’s Pancake Bar）吃午餐（自費）。下午下到科溫隘口（Kowyn Pass）附近的傳統村落跟 Shangan 族人小聚。經過一整天豐富的行程之後，我們趕往霧觀綠火旅館（Greenfire Lodge Hazyview），這個可以眺望壯觀景色的原木旅館位於本土的原始森林中，採高腳屋的方式建築，濱臨薩比（Sabie）河畔——我們將在此投宿兩晚。<span>BD</span></p>
          <img src="/images/sa-04.jpg" class="img-responsive">          
        </div>
        <h5><span class="day">Day4</span>克魯格國家公園</h5>
        <div>
          <p>又是起個大早的一天，我們在日出時出發，開一小段路進入克魯格國家公園南端，開始一整天的動物觀察。我們慢慢地蜿蜒前進，尋覓棲息在本區的許多動物，我們居高臨下，坐在舒適而又設備齊全的車上，從制高點觀看野生動物。儘管本日大多數的時間都在看動物，但是我們也是彎到一些特定的地區，讓大家伸伸腿，享受早午餐，並且到公園中的休息營區晃晃。接近傍晚的時候我們會回到舒適的霧觀綠火旅館住宿。<span>Brunch D</span></p>       
        </div>
        <h5><span class="day">Day5</span>史瓦濟蘭—祖魯蘭</h5>
        <div>
          <p>向南到史瓦濟蘭王國，沿途風光明媚，經過無數傳統的農家和骨董市場。接下來進入祖魯蘭（Zululand），這個地方一度被受人景仰的祖魯國王夏卡（Shaka）所統治，是一個壯觀的野生動物保留區。我們連著兩個晚上住在祖魯蘭綠火旅館，這是一座位在沙地森林中的偏僻旅館，位於我們的私人保護區之內。<span>BLD</span></p>      
          <img src="/images/sa-05.jpg" class="img-responsive">    
        </div>
        <h5><span class="day">Day6</span>祖魯蘭</h5>
        <div>
          <p>今天行程不趕，端視這個季節動物活動的情形，我們搭配驅車獵遊或漫步兩種方式在著名的野生動物保護區中活動，本地保護區的植物生長特別茂密，並且保育包括白犀牛和黑犀牛在內的許多本地野生動物。晚上回到祖魯蘭綠火旅館。<span>BLD</span></p>       
        </div>
        <h5><span class="day days">Day7~8</span>德拉肯斯堡山</h5>
        <div>
          <p>今天進入內陸，穿越綿延的山丘，這些山丘看似沉靜，不過可不要被騙了，這裡發生過大大小小的歷史戰役，祖魯人，波爾人（殖民先鋒），英國人和許多其它民族都因為想在南非爭一席之地而參與過戰爭。下午我們抵達宏偉無比，別名「萬矛屏障」的德拉肯斯堡山區。我們到達山腳下之後，會改搭四輪傳動車往上爬（或健行）一段驚險刺激的山間小路，到達德拉肯斯堡綠火旅館，我們會在這個溫馨的原木旅館中住兩天，其中還會安排健行和探索此處國家遺產的活動，另外的活動包括拜訪閃族岩畫（San Rock）藝廊和騎馬上山。<span>BLD；BLD</span></p>      
          <img src="/images/sa-06.jpg" class="img-responsive">    
        </div>
        <h5><span class="day days">Day9~10</span>海豚海岸（Dolphin Coast）</h5>
        <div>
          <p>輕輕鬆鬆地展開一天，搭小車（或是走路）下山，轉搭大車。我們帶著重新充電的能量前往印度洋之濱。今天的行程會經過納托爾密德蘭（Natal Midlands），拜訪許多有趣的小藝品店和景點。前往將連住兩天的海豚海岸綠火旅館之前，我們會先在諾丁罕路（Nottingham Road）附近吃午餐（自理）。海豚海岸綠火旅館位於海岸邊，可以聽見濤聲不絕的洶湧海浪。我們有一整天可以自由活動，可以做做日光浴或是享受沙灘，溫暖的海洋，或是到村子裡走走，感受村民的好客與熱情。兩天中的一天晚上我們會在旅館的天井享用傳統的烤魚（fish braai）大餐。午餐與晚餐自理。<span>BD；B</span></p>      
          <img src="/images/sa-07.jpg" class="img-responsive">    
        </div>
        <h5><span class="day days">Day11~12</span>狂野海岸 （Wild Coast）</h5>
        <div>
          <p>早早出發，早晨經過德班（Durban），然後沿著海岸向南到達這次旅程最精彩的部分—狂野海岸。這裡原來是獨立的黑人家園，境內鮮少開發，保存了無數未經破壞的海灘，自然的海灣口，青青草原以及星羅棋布的科薩族（Xhosa）村落，我們將在偏遠的綠火旅館投宿兩晚，並且花一整天探索這個崎嶇不平卻又美麗無比的區域。<span>BLD；BLD</span></p>        
        </div>
        <h5><span class="day">Day13</span>邊界鄉間（Frontier Country）</h5>
        <div>
          <p>今天的第一站是位於烏姆塔塔（Mthatha）的曼德拉博物館，接下來我們要去這位偉大的政治家的出生地。下午，我們將抵達最著名的邊界鄉間（Frontier Country），歐洲移民於 1820 年代在此定居，因此發生過許多前線戰爭。<span>BLD</span></p>        
        </div>
        <h5><span class="day days">Day14~15</span>花園大道</h5>
        <div>
          <p>進入著名的花園大道，我們的第一站是齊齊卡馬海岸國家公園（Tsitsikamma Coastal National Park），我們會在崎嶇的海岸線上走一段路，通過架在暴風河上的吊橋。再往前走會到達世界最高的高空彈跳（216 公尺），有自殺念頭的人不妨一試。接下來我們會穿越普列騰伯格海灣（Plettenberg Bay），抵達我們將投宿兩晚的奈斯納（Knysna）綠火旅館。我們有非常寬裕的時間在這個有趣的小鎮尋幽訪勝。可選擇的自費項目包括泛舟，高山自行車，當地小鎮之旅等等。需自理一頓午餐及一頓晚餐。<span>BLD；B</span></p>  
          <img src="/images/sa-08.jpg" class="img-responsive">          
        </div>
        <h5><span class="day days">Day16~18</span>開普敦</h5>
        <div>
          <p>輕鬆地用完早餐之後，離開奈斯納，通過花園大道湖區（Garden Routs Lake District），然後沿著鯨魚大道（Whale Route），越過赫曼紐斯（Hermanus）和霍騰圖荷蘭山（Hottentots Holland Mountains）。午後回到終點開普敦，我們投宿於交通便捷的開普敦綠火旅館。開普敦無疑是世界上最漂亮的城市之一，我們會花兩天時間探索這個城市，開普角（Cape Point），豪特灣（Hout Bay）和 濱海區（Waterfront）都是值得拜訪的景點，此外，我們還會去一處遺世獨立的海灘，一家酒莊和其它精彩的景點。爬上桌山也包括在內。（開普敦的午餐與晚餐需自理）。<span>B；B；B</span></p>           
        </div>        
      </div>
      <div class="col-sm-3 col-sm-offset-1">
        <aside>
          <h5 id="aside-1">重要訊息</h5>
          <ul>
          <li style="background-image:url(/images/itn-08.png)">全程提供完善旅館住宿，床單和毛巾都包括在內。</li>
          <li style="background-image:url(/images/itn-09.png)">建議出發前注射季節性瘧疾疫苗(當地也可以施打)。</li>
          <li style="background-image:url(/images/itn-16.png)">需要辦理進入史瓦濟蘭的護照／簽證</li>          
          <li style="background-image:url(/images/itn-11.png)">氣候可能很炎熱，所以要採取適當的防曬措施。</li>
          <li style="background-image:url(/images/itn-10.png)">本行程必須走路不少的路，所以需要帶輕便的背包。</li>
          <li style="background-image:url(/images/itn-12.png)">出發之前，每位旅客都需要簽署一項訂位條件和一般資訊的附屬合約。旅客也需要擁有完善的個人旅遊保險。</li>
          </ul>
          <h5 id="aside-2">團費須知</h5>
          <ul>
            <li style="background-image:url(/images/itn-13.png)">包括所有交通，食物，咖啡，茶，住宿，步行之旅，驅車獵遊，入場券和特許証，團體裝備和專業導遊。</li>
            <li style="background-image:url(/images/itn-14.png)">不包括酒精飲料，瓶裝水，軟性飲料，美術珍品，小費和從約翰尼斯堡往返大旅行家出發地的餐飲。</li>
            <li style="background-image:url(/images/itn-15.png)">自費項目<span>（實際項目會依當地情況增減）</span>：<br>
              <span>●</span> 大海泛舟<br>
              <span>●</span> 高空彈跳<br>
              <span>●</span> 騎小馬<br>
              <span>●</span> 羅本島<br>
              <span>●</span> 克魯格國家公園夜遊<br>
              <span>●</span> 單車遊森林山<br>
              <span>●</span> 奈斯納遊船之旅
            </li>
          </ul>
        </aside>
      </div>
      <div id="note"  class="col-sm-8">
          <h4>NOTE</h4>
          <ul>
            <li>◆ 本旅程在第十八天的下午 16:00 結束，不過客人可以延長時間繼續在大旅行家開普敦旅館過夜。如果安排當天搭飛機，請預留到機場的交通時間以及機場進關手續的時間（大概三個小時）。</li>
            <li>◆ 想要造訪羅本島（Robben Island）的人，請及早通知當地導遊代為預訂，以免向隅。</li>
          </ul>
        </div>
    </div>
  </section>
  <section id="article-3" class="hidden-xs">
    <div class="container text-center">
      <h4>精彩亮點</h4>
      <div class="row">
        <div class="col-md-2 col-sm-4"><p>漫步尋找五霸</p></div>
        <div class="col-md-2 col-sm-4"><p>敞篷車獵遊</p></div>
        <div class="col-md-2 col-sm-4"><p>野生動物保留區/國家公園</p></div>
        <div class="col-md-2 col-sm-4"><p>克魯格國家公園</p></div>
        <div class="col-md-2 col-sm-4"><p>祖魯蘭野生動物保護區</p></div>
        <div class="col-md-2 col-sm-4"><p>德拉肯斯堡山</p></div>
        <div class="col-md-2 col-sm-4"><p>史瓦濟蘭王國</p></div>
        <div class="col-md-2 col-sm-4"><p>開普酒莊</p></div>
        <div class="col-md-2 col-sm-4"><p>非洲文化</p></div>
        <div class="col-md-2 col-sm-4"><p>花園大道</p></div> 
        <div class="col-md-2 col-sm-4"><p>海岸健行</p></div> 
        <div class="col-md-2 col-sm-4"><p>開普敦</p></div> 
        <div class="col-md-2 col-sm-4"><p>桌山健行</p></div> 
        <div class="col-md-2 col-sm-4"><p>天然完整海岸線</p></div> 
        <div class="col-md-2 col-sm-4"><p>閃族岩畫藝廊</p></div> 
        <div class="col-md-2 col-sm-4"><p>曼德拉博物館</p></div> 
      </div>
    </div>
  </section>
  <section id="article-4" class="hidden-xs">
    <div class="container">
      <div class="clearfix">
        <h4 class="pull-left">當地出發日期與空位</h4>
        <p class="pull-left">（所有日期都是根據當地出發地，並非從台灣出發）</p>
      </div>

      <div class="row" id='departure_preview'>
        <p style='text-align:center;'>Loading... this might take a while!</p>
        <div id='looking_for' style='display:none;'>South_Africa_18_day</div>

      </div>
      <a href='<%= "#{contacts_url}" %>'>看更多>></a>
    </div>
  </section>
</article>

<%= render 'layouts/front_shared_footer' %>

  <!-- Include all compiled plugins (below), or include individual files as needed --> 
  <script src="/js/bootstrap.min.js"></script> 
  <script src="/js/less.min.js"></script> 
  <script src="/js/SmoothScroll.js"></script> 
  <script src="/js/jquery.parallax-1.1.3.js"></script> 
  <script src="/js/anchor-art.js"></script> 
  <script src="/js/jquery.bxslider.min.js"></script> 
  <script>
  $(document).ready(function(){
    $("#accordion").accordion({
      heightStyle: "content",
      collapsible: true, 
      active: false,
      beforeActivate: function(event, ui) {
         // The accordion believes a panel is being opened
        if (ui.newHeader[0]) {
            var currHeader  = ui.newHeader;
            var currContent = currHeader.next('.ui-accordion-content');
         // The accordion believes a panel is being closed
        } else {
            var currHeader  = ui.oldHeader;
            var currContent = currHeader.next('.ui-accordion-content');
        }
         // Since we've changed the default behavior, this detects the actual status
        var isPanelSelected = currHeader.attr('aria-selected') == 'true';

         // Toggle the panel's header
        currHeader.toggleClass('ui-corner-all',isPanelSelected).toggleClass('accordion-header-active ui-state-active ui-corner-top',!isPanelSelected).attr('aria-selected',((!isPanelSelected).toString()));

        // Toggle the panel's icon
        currHeader.children('.ui-icon').toggleClass('ui-icon-triangle-1-e',isPanelSelected).toggleClass('ui-icon-triangle-1-s',!isPanelSelected);

         // Toggle the panel's content
        currContent.toggleClass('accordion-content-active',!isPanelSelected)    
        if (isPanelSelected) { currContent.slideUp(); }  else { currContent.slideDown(); }

        return false; // Cancels the default action
      }
    });
  });   
</script>

  </body>
</html>