<!DOCTYPE html>
<html lang="zh-tw">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="keywords" content="">
<link href='/images/favicon.ico' rel='shortcut icon' />
<link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
<link rel="shortcut icon" href="/images/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="icon" href="/images/favicon.ico" type="image/vnd.microsoft.icon">
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
<title>大旅行家│Drifters</title>
<!-- Bootstrap -->
<link href="/css/wonders.less" rel="stylesheet/less" />
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:/ -->
<!--[if lt IE 9]>
      <script src="https:/oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https:/oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56172097-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>

<%= render 'layouts/front_shared_header' %>

<article>
  <section id="article-1">
    <div class="container text-center">
    <h3>大旅行家越野系列特色</h3>
    <h4>一網打盡所有奇觀</h4>
    <p><img src="/images/wdr-14.png" class="img-responsive"><br>
    非洲除了魔幻寫實的風、沙、星辰外，更有數不盡的世界級奇觀，從納米比亞沙漠到塞倫蓋提國家公園，從奧克班哥三角洲到維多利亞瀑布，大旅行家越野系列不會讓你錯過任何一處奇觀。</p> 
    </div>
  </section>
  <section id="article-2">
    <div class="container row"> 
    <div class="col-sm-6">
    <p>在逐水草而居的途中，不但危機四伏，而且歷經生老病死，有的成了河中鱷魚的大餐，有的剛著陸就被虎視眈眈的獅、豹獵殺。有的動物沒能走完全程就不支倒地，但是很快地就有新生命誕生，加入這場周而復始的古老生命節奏。</p>    
    </div>
    <div class="col-sm-5 col-sm-offset-1 text-center">
    <img src="/images/wdr-02.png" class="img-responsive">
    </div>
    </div>
  </section>
  <section id="article-3">
    <div class="container"> 
      <div class="row">
        <div class="col-sm-4 text-center"><img src="/images/wdr-04.jpg" class="img-responsive"></div>
        <div class="col-sm-8"><p>納米比亞沙漠是走超寫實風的橘紅色沙漠，沙丘色彩斑爛，而且會隨著太陽的照射變色，尤其是死谷中的一片枯樹林，更是電影、廣告和著名攝影師取景的秘境。這裡的沙丘動輒高達300 公尺，可跟真正的山丘共比高，呈現的形狀則有新月形、拋物線形、星形、橫行形等等，死谷最南端的沙丘則有個戲劇化的名字，叫做「瘋狂沙丘」。1980 年的《上帝也瘋狂》，藉由主人翁歷蘇，將納米比亞沙漠介紹給了全世界，這裡全身塗上紅色礦粉的辛巴族人和其原始村落以及野生動物的最後樂園伊托夏國家公園的聲名也跟著不脛而走。</p></div>
      </div>
      <div class="row">
        <div class="col-sm-4 text-center"><img src="/images/wdr-05.jpg" class="img-responsive"></div>
        <div class="col-sm-8"><p>奧克班哥三角洲是由一條沒有流入大海的迷失之河所形成的三角洲，一般的河流滲入沙地就消失了，但是在這裡卻形成了沼澤和無數條清澈見底的溪流以及湖泊和島嶼，交通完全靠水道，搭乘快艇或木筏在滿佈蘆草與紙莎草的曲折水道中前進，更覺風情旖旎。三角洲上遍佈非洲森林，春天水面上還可看到荷花，在莫瑞米保護區，可以見到花豹、獅群、獵豹、野狗和各種羚羊，鳥類生態更是豐富。</p></div>
      </div>
      <div class="row">
        <div class="col-sm-4 text-center"><img src="/images/wdr-06.jpg" class="img-responsive"></div>
        <div class="col-sm-8"><p>維多利亞瀑布位於非洲辛巴威和尚比亞兩國的交界處，是非洲第四大河尚比西河流經玄武岩斷層所切割而成，瀑布雷鳴般的巨吼和超大水霧所形成的彩虹讓人在 20 公里外就可以聽得見和看得到。十九世紀中發現她的歐洲探險家大衛˙李文斯頓在描寫瀑布壯觀景象時寫道：「那些傾瀉而下的急流像無數曳著白光的彗星朝一個方向墜落，其景色之美妙，即使天使飛過，也會回首顧盼！」<br>
維多利亞瀑布寬 1700 多公尺，最高落差達 107 公尺，瞬間落水量高居世界第一，與南美洲的伊瓜蘇瀑布和北美洲的尼加拉瓜瀑布，被世人譽為世界三大瀑布。尚比西河的新鮮食物和涼水，還會吸引數百頭大象來到，平時嚴肅的大象們，一下游泳，一下潑水，就跟孩子一樣地調皮。</p></div>
      </div>
      <div class="row">
        <div class="col-sm-4 text-center"><img src="/images/wdr-07.jpg" class="img-responsive"></div>
        <div class="col-sm-8"><p>克魯格國家公園是南非最大的野生動物保護區，也是全世界最具規模，管理最完善的野生動物保護區，至今已有一百多年的歷史。其總面積達二萬平方公里，是台灣的三分之二左右。
克魯格國家公園擁有豐富的生態資源，其中最引人注目就是「五霸」（Big Five）中的五大動物明星—－獅子、非洲象、花豹、野牛、黑犀牛，除此之外，公園中還有長頸鹿、斑馬、河馬、羚羊、鱷魚、狒狒、疣豬等動物，克魯格國家公園中這些大型動物的種類和數量在世界上首屈一指。其中羚羊數量超過 14 萬隻，在非洲名列第一。</p></div>
      </div>
      <div class="row">
        <div class="col-sm-4 text-center"><img src="/images/wdr-08.jpg" class="img-responsive"></div>
        <div class="col-sm-8"><p>動物大遷徙是由東非野生動物挑大樑的年度大秀，其震憾性令觀者永生難忘。它不僅是一場如史詩般的 3000 公里長征，更是一場弱肉強食、適者生存，拼個你死我活的競賽。每年的7、8、9 月，數以百萬計的牛羚、斑馬和瞪羚，不約而同地從肯亞馬賽馬拉國家公園遷移到坦尚尼亞賽倫蓋提國家公園，在逐水草而居的途中，不但危機四伏，而且歷經生老病死，有的成了河中鱷魚的大餐，有的剛著陸就被虎視眈眈的獅、豹獵殺。有的動物沒能走完全程就不支倒地，但是很快地就有新生命誕生，加入這場周而復始的古老生命節奏。這支氣勢磅礡、長達 40 公里的動物大遷徙隊伍在草原上蔚為奇觀，儘管 Discovery 和國家地理頻道，曾經拍攝過鱷魚和獅子獵殺渡河動物的畫面，但是唯有親眼目擊才能體會其驚心動魄。</p></div>
      </div>
      <div class="row">
        <div class="col-sm-4 text-center"><img src="/images/wdr-09.jpg" class="img-responsive"></div>
        <div class="col-sm-8"><p>銀背大猩猩是地球上現存的最大的靈長類動物，重可達 200~300 公斤，人立時身高 170-180 公分。目前僅存 650 隻，主要分佈在非洲，是受到保護的野生動物。牠貌似兇惡、常常拍打自己的胸部或是發出怒吼，讓人以為牠很危險，其實牠個性溫順，拍打胸部只是自我防禦或是保衛自己的家族。年長雄性的大猩猩到了十二歲左右，背上的毛就會變成銀灰色，因此被稱為「銀背」。大猩猩是一種群居動物，每群由一隻被稱為「銀背」的成年雄性大猩猩領導。有很強的地域意識，如果其它動物侵入領土，牠們會訴諸武力來捍衛領土。成年的銀背有兩顆長達 6 公分的犬齒，手臂有驚人的爆發力，一巴掌就可以把一輛轎車打到 4 公尺以外。</p></div>
      </div>
    </div>
  </section>
  <section id="article-4" class="hidden-xs">
    <div class="container"> 
    </div>
  </section>
</article>

<%= render 'layouts/front_shared_footer' %>

  <!-- Include all compiled plugins (below), or include individual files as needed --> 
  <script src="/js/bootstrap.min.js"></script> 
  <script src="/js/less.min.js"></script> 
  <script src="/js/SmoothScroll.js"></script> 
  <script src="/js/jquery.parallax-1.1.3.js"></script> 
  <script src="/js/anchor-art.js"></script> 

  <script>
    $(document).ready(function(){
      $('#article-2').parallax({offsetY:-200,speedFactor:.3}); 
      $('#article-4').parallax({offsetY:-200,speedFactor:.3}); 
    }); 
  </script>
  <style>/* 修正 IE BUG */
    nav.navbar .dropdown-menu {
      background: #3e3027;
      background: rgba(62, 48, 39, 0.9);
      padding: 0;
    }
    nav.navbar .dropdown-menu li a {
      color: #f3e9de;
      padding: 15px;
      margin: 0 10px;
      border-top: 1px solid #AD9243;
    }
    @media (max-width: 767px) {
      nav.navbar .dropdown-menu li a {
        margin: 0px;
        border-top: 1px solid #9A6B35;
        padding: 15px 20px 15px 35px!important;
        background: #5A493F;
      }
    }
    nav.navbar .dropdown-menu li a:hover,
    nav.navbar .dropdown-menu li a:focus {
      color: #3e3027;
      background: #D1C0A6;
    }
    nav.navbar .dropdown-menu li:first-child a {
      border: none;
    }
  </style>
  
  </body>
</html>