<header>
  <h2 class="left">聯絡我們</h2>
  <nav class="left">
    <%= link_to "未處理", admin_contacts_path()  , class: 'active' %>
    <%= link_to "已處理", history_admin_contacts_path%>
  </nav>
</header>

<article>
  <div class="list">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">      
      <% @contacts.each do |contact| %>      
        <tr>
          <td width="20%" valign="top"><span class="time"><%= contact.created_at.strftime("%Y-%m-%d %H:%M") %></span><br>
            <%= contact.name %>(<%= contact.gender %>)
          </td>
          <td width="67%" valign="top">
          信箱：<%= contact.email %><br>
          電話：<%= contact.phone %><br>
          地址：<%= contact.address %><br>
          日期：<%= contact.departure_date %><br>
          行程：<%= contact.subject %><br><br>
          <p><%= contact.content %></p>
          </td>
          <td width="13%" valign="top">
            <div class="tool">
              <%= get_contact_status(contact) %><%# contacts_helper %>
            </div>
          </td>
        </tr>       
      <% end %>
    </table>
  </div>
  <div class="page">
    <%= paginate @contacts ,:window => 2 %>
  </div>  
</article>