Contact index
<% @contacts.each do |contact| %>
  <div style:'float:left;'>
  name:<%= contact.name %><br>
  email:<%= contact.email %><br>
  subject:<%= contact.subject.join(',') %><br>
  phone:<%= contact.phone %><br>
  content:<%= contact.content %><br>
  </div>
  <hr>
<% end %>


<div class= "page">
  <%= paginate @contacts ,:window => 2 %>
</div>